
body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f8f9fa; 
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(90deg, #0073e6, #00b4d8); 
    padding: 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    margin: 0;
}


nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffdd57; 
}


.sub-header {
    font-size: 1.8em;
    color: #9abfe4;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section {
    background: white;
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #b19bb7; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    padding: 10px;
}
